---
import type { Post } from "../layouts/PostLayout.astro";
import { slugify, formatDate } from "../js/utils";
import { Image } from "@astrojs/image/components";
const { title, date, tags, author, image } = Astro.props as Post;
---

<header class="mx-auto max-w-5xl p-4 sm:p-6">
  <div class="text-center mb-6">
    <h1 class="text-2xl font-semibold mb-2">{title}</h1>
    <p class="text-sm">
      <span>por</span>
      <a
        href={`/author/${slugify(author)}/`}
        class="transition hover:text-imc-light"
      >
        <span class="underline underline-offset-2">{author}</span>
      </a>
      <span>&bull; {formatDate(date)}</span>
    </p>
    <div class="mt-4 flex items-center justify-center gap-2">
      {
        tags?.map((tag) => (
          <a
            href={`/category/${slugify(tag)}/`}
            class="text-white leading-5 text-xs px-1.5 rounded bg-imc/80 transition hover:bg-imc-light"
          >
            {tag}
          </a>
        ))
      }
    </div>
  </div>
  <Image
    src={image.src}
    alt={image.alt}
    width={976}
    aspectRatio="16:9"
    format="webp"
    class="rounded border-2 border-white shadow-lg shadow-gray-400"
  />
</header>
